<div class="row" *ngIf="expense">
  <div class="col s8 offset-s2">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">mode_edit</i>
        <input class="active" type="text" id="name" [(ngModel)]="expense.name.name">
        <label for="name">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">mode_edit</i>
        <input class="active" type="number" id="amount" [(ngModel)]="expense.amount.amount">
        <label for="amount">Amount</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">mode_edit</i>
        <input type="text" id="category" [(ngModel)]="expense.category.name">
        <label for="category">Category</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">mode_edit</i>
        <input type="date" id="date" [(ngModel)]="expense.date">
        <label for="date">Date</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light" (click)="back()">Back
          <i class="material-icons left">arrow_back</i>
        </button>
        <button class="btn waves-effect waves-light" (click)="submit()">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </div>
</div>