<app-date-header>
</app-date-header>

<h3>{{newExpense ? 'Add Expense' : 'Edit Expense'}}</h3>
<form *ngIf="expense" #expenseForm="ngForm" (ngSubmit)="submit()" 
(keydown.enter)="$event.preventDefault()">
	<div class="form-group">
		<label for="name">Name</label>
		<input class="form-control" type="text" id="name" name="name" 
		[(ngModel)]="expense.name.name" required #name="ngModel">
	</div>
	<div [hidden]="name.valid || name.pristine" class="alert alert-danger">
		Name is required
	</div>
	<div class="form-group">
		<label for="name">Amount</label>
		<input class="form-control" type="number" id="amount" name="amount"
		[(ngModel)]="expense.amount.amount" required min="0.01" #amount="ngModel">
	</div>
	<div [hidden]="amount.valid || amount.pristine" class="alert alert-danger">
		Amount is required and must be greater than zero
	</div>
	<div class="form-group">
		<label for="category">Category</label>
		<select class="form-control" id="category" name="category"
		[(ngModel)]="expense.category.name" required>
			<option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
		</select>
	</div>
	<div *ngIf="expenseType.isDateFieldRelevant()" class="form-group">
		<label for="date">Date</label>
		<div class="input-group">
			<input class="form-control" id="date"  name="date"
			[(ngModel)]="expense.date.timestamp" required ngbDatepicker #d="ngbDatepicker">
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
					<i class="fas fa-calendar-alt"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="method">Payment Method</label>
		<input class="form-control" type="text" id="method" name="method"
		[(ngModel)]="expense.method.name"
		[ngbTypeahead]="methodTypeahead">
	</div>
	<div class="form-group">
		<label for="author">Author</label>
		<input class="form-control" type="text" id="author" name="author"
		[(ngModel)]="expense.author.name"
		[ngbTypeahead]="authorTypeahead">
	</div>
	<div class="form-group">
		<label for="tag">Tags</label>
		<div class="chip-list">
			<span *ngFor="let tag of expense.tags" class="chip">
				{{tag.name}}
				<i class="fas fa-times-circle chip-close" (click)="removeTag(tag.name)"></i>
			</span>
		</div>
		<input class="form-control" type="text" id="tag" name="tag" #tag
		(keydown.enter)="addTag($event, tag.value); tag.value=''"
		[ngbTypeahead]="tagTypeahead">
	</div>
	<div class="form-group" *ngIf="expenseType.canSaveAsTemplate()">
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="template" name="template" 
			[(ngModel)]="saveAsTemplate">
			<label class="form-check-label" for="template">Save as template</label>
		</div>
	</div>
	<button class="btn btn-secondary" (click)="back()" type="button">
		<i class="far fa-arrow-alt-circle-left"></i>
		Back
	</button>
	<button class="btn btn-primary" type="submit" [disabled]="!expenseForm.form.valid">
		Submit
		<i class="far fa-arrow-alt-circle-right"></i>
	</button>
	<button *ngIf="!newExpense" class="btn btn-danger" (click)="delete()" type="button">
		Delete
		<i class="fas fa-trash-alt"></i>
	</button>
</form>