<table class="striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses">
        <td>{{expense.name.name}}</td>
        <td>{{expense.amount.amount | currency:'CHF'}}</td>
        <td>{{expense.category.name}}</td>
        <td>{{expense.date.timestamp | date:'dd.MM.yyyy'}}</td>
        <td>
          <a (click)="edit(expense)" class="material-icons edit">edit</a>
        </td>
      </tr>
    </tbody>
  </table>