.chip {
    display: inline-block;
    padding: 7px 12px;
    font-size: 16px;
    border-radius: 24px;
    background-color: #e0e0e0;
    font-size: 0.8em;
}

.chip-list > .chip {
    margin-right: 0.4em;
    margin-bottom: 0.5em;
}