<app-date-header [date]="date" [urlPrefix]="urlPrefix" [switcher]="switcher">
</app-date-header>

<ngb-tabset>
	<ngb-tab title="Overview">
		<ng-template ngbTabContent>
			<table class="table table-striped" *ngIf="expensesForTable">
				<thead>
					<tr>
						<th>Category</th>
						<th>Spent</th>
						<th>Budget</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let expense of expensesForTable" 
					[ngClass]="{'red-text': expense.amount.amount > expense.budget.amount}"
					(click)="showDetails(expense, content)">
						<td>{{expense.category.name}}</td>
						<td>{{expense.amount.amount | currency:'CHF'}}</td>
						<td>{{expense.budget.amount | currency:'CHF'}}</td>
					</tr>
				</tbody>
			</table>
		</ng-template>
	</ngb-tab>
	<ngb-tab title="Expense Distribution">
		<ng-template ngbTabContent>
			<canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType">
			</canvas>
		</ng-template>
	</ngb-tab>
</ngb-tabset>

<ng-template #content>
	<div class="modal-header">
		<h4 class="modal-title">{{detail.category.name}}</h4>
	</div>
	<div class="modal-body">
		<app-expenses-table [expenses]="detail.expenses" [beforeLeave]="callback">
		</app-expenses-table>
	</div>
</ng-template>