<app-date-header [date]="date" [urlPrefix]="urlPrefix" [switcher]="switcher">
</app-date-header>

<ngb-tabset>
	<ngb-tab title="Overview">
		<ng-template ngbTabContent>
			<table class="table table-striped" *ngIf="expensesForTable">
				<thead>
					<tr>
						<th>Category</th>
						<th>Spent</th>
						<th>Budget</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let expense of expensesForTable" 
					[ngClass]="{'text-danger': expense.amount.amount > expense.budget.amount}"
					(click)="showDetails(expense, content)">
						<td>{{expense.category.name}}</td>
						<td>{{expense.amount.amount | currency:'CHF'}}</td>
						<td>{{expense.budget.amount | currency:'CHF'}}</td>
						<td>
							<i class="fas fa-edit" routerLink="/edit/budget/{{expense.category.name}}"
							[hidden]="expense.category.name == 'Total' || expense.category.name == 'Not Budgeted'">
							</i>
						</td>
					</tr>
				</tbody>
			</table>
		</ng-template>
	</ngb-tab>
	<ngb-tab title="Expense Distribution">
		<ng-template ngbTabContent>
			<canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" 
				[options]="chartOptions" [chartType]="'pie'">
			</canvas>
		</ng-template>
	</ngb-tab>
	<ngb-tab title="Burndown">
		<ng-template ngbTabContent>
			<div class="mt-2"></div>
			<ngb-accordion>
				<ngb-panel *ngFor="let chart of lineCharts" title="{{chart.category}}">
					<ng-template ngbPanelContent>
						<canvas baseChart [datasets]="chart.data" [labels]="chart.labels" 
							[chartType]="'line'" [options]="chartOptions">
						</canvas>
					</ng-template>
				</ngb-panel>
			</ngb-accordion>
		</ng-template>
	</ngb-tab>
	<ngb-tab title="Report">
		<ng-template ngbTabContent>
			<app-report [expenses]="expensesForTable">
			</app-report>
		</ng-template>
	</ngb-tab>
</ngb-tabset>

<ng-template #content>
	<div class="modal-header">
		<h4 class="modal-title">{{detail.category.name}}</h4>
	</div>
	<div class="modal-body">
		<app-expenses-table [expenses]="detail.expenses" [beforeLeave]="callback">
		</app-expenses-table>
	</div>
</ng-template>