<div class="container">

  <nav class="nav-extended">

    <div class="nav-wrapper" *ngIf="month">
        <ul class="left">
          <li>
            <a class="waves-effect waves-light btn"
            routerLink="/year/{{prevMonth.getFullYear()}}/month/{{prevMonth.getMonth()}}" >
              Previous Month
            </a>
          </li>
        </ul>
        <a class="brand-logo center">{{month.getMonthName()}} {{month.getFullYear()}}</a>
        <ul class="right">
          <li>
            <a class="waves-effect waves-light btn"
            routerLink="/year/{{nextMonth.getFullYear()}}/month/{{nextMonth.getMonth()}}" >
              Next Month
            </a>
          </li>
        </ul>
      </div>

    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input #searchBox id="search_box" type="search" (keyup)="search(searchBox.value)"/>
          <label class="label-icon" for="search_box"><i class="material-icons">search</i></label>
          <i class="material-icons" (click)="searchBox.value=''; search('')">close</i>
        </div>
      </form>
    </div>

  </nav>


  <div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>

    <mat-table #table [dataSource]="expenses"
      matSort matSortActive="{{sort.active}}" 
      matSortDisableClear matSortDirection="{{sort.direction}}">

      <ng-container matColumnDef="name">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Amount </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.amount.amount | currency:'CHF'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Category </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.category.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date | date:'dd.MM.yyyy'}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator 
      [length]="length" 
      [pageSize]="pagination.count" 
      (page)="setPagination($event)">
    </mat-paginator>
  </div>

</div>