<mat-form-field>
  <input matInput #searchBox type="text" placeholder="Search" (keyup)="search(searchBox.value)"/>
  <button mat-button *ngIf="searchBox.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchBox.value=''; search(searchBox.value)">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table #table [dataSource]="expenses"
    matSort matSortActive="{{sort.active}}" 
    matSortDisableClear matSortDirection="{{sort.direction}}">

    <ng-container matColumnDef="name">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.amount.amount | currency:'CHF'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Category </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.category.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date | date:'dd.MM.yyyy'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator 
    [length]="length" 
    [pageSize]="pagination.count" 
    (page)="setPagination($event)">
  </mat-paginator>
</div>
