<div class="nav-wrapper">
  <ul class="left">
    <li>
      <a class="waves-effect waves-light btn"
      routerLink="/{{urlPrefix}}/{{urlSuffix(prevDate)}}" >
        <i class="material-icons left">arrow_back</i>
        {{ dateToText(prevDate) }}
      </a>
    </li>
  </ul>
  <a class="brand-logo center">{{ dateToText(date) }}</a>
  <ul class="right">
    <li>
      <a class="waves-effect waves-light btn"
      routerLink="/{{urlPrefix}}/{{urlSuffix(nextDate)}}" >
        <i class="material-icons right">arrow_forward</i>
        {{ dateToText(nextDate) }}
      </a>
    </li>
  </ul>
</div>