<h3>Edit Budget</h3>
<form *ngIf="budget" #budgetForm="ngForm" (ngSubmit)="submit()"
(keydown.enter)="$event.preventDefault()">
	<div class="form-group">
		<label for="category">Category</label>
		<input class="form-control" type="text" id="category" name="category"
		[(ngModel)]="budget.category.name" required #category="ngModel">
	</div>
	<div [hidden]="category.valid || category.pristine" class="alert alert-danger">
		Category is required
	</div>
	<div *ngFor="let amount of budget.amounts; let i = index">

		<div class="form-group">
			<label for="amount{{i}}">Amount</label>
			<input class="form-control" type="number" id="amount{{i}}" name="amount{{i}}"
			required min="0.01" [(ngModel)]="amount.amount.amount">
		</div>
		<div class="form-group">
			<label for="period">Period</label>
			<select class="form-control" id="period{{i}}" name="period{{i}}"
			required [(ngModel)]="amount.period">
				<option *ngFor="let period of periods" value ="{{period}}">{{period}}</option>
			</select>
		</div>
	</div>

	<button class="btn btn-secondary" (click)="back()" type="button">
		<i class="far fa-arrow-alt-circle-left"></i>
		Back
	</button>
	<button class="btn btn-primary" type="submit" [disabled]="!budgetForm.form.valid">
		Submit
		<i class="far fa-arrow-alt-circle-right"></i>
	</button>
</form>